.mouse-over {
  animation: mouse-over 2.4s ease infinite;
}

@keyframes mouse-over {
  0% {
    fill: $secondary;
    transform-box: fill-box;
    transform-origin: center;
  }
  15% {
    fill: $accent;
  }
  20% {
    fill: $primary;
    transform: scale(4);
    transform-box: fill-box;
    transform-origin: center;
  }
  30% {
    fill: #23e2bc;
  }
  60% {
    fill: $secondary;
    transform: scale(1);
    transform-origin: center;
  }
}

@keyframes wave {
  0% {
    transform: translateY(-2px);
  }
  5% {
    transform: translateY(-2px);
  }
  40% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(-2px);
  }
  92% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(-2px);
  }
}
