.card {
  border: 1px solid $secondary;
  box-shadow: 0 0 0.8em $dark-grey;
  border-radius: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  &:hover {
    transform: scale(1.02) translateY(-4px);
    box-shadow: 0 5px 1.2em black;
    transition: 0.2s;
  }

  &:hover > &__body > div > a {
    color: $background;
  }

  &:hover > &__body > h3 {
    background: $background;
    color: $secondary;
  }

  &:hover > &__body {
    background: $secondary;
    color: $background;
  }

  .card__body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 2rem;

    h3 {
      font-family:monospace; 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      border-radius: 0.85rem 0.85rem 0 0;
      padding: 1.4rem;
      padding-right: 1.2rem;
      margin: 0;
      margin-bottom: 2rem;
      width: 100%;
      text-align: end;
      color: $background;
      background: $secondary;
    }

    p {
      padding-top: 6rem;
      width: 90%;
      margin: 1.5rem;
      font-family: "Open Sans", sans-serif;
      text-align: end;
    }

    code {
      width: 90%;
      padding: 0 1.5rem 0 0;
      text-align: end;
      display: block;
      margin: 2rem 0;
    }

    div {
      color: $accent;
      text-align: end;
      margin: 1rem;
      margin-bottom: 2rem;
      a {
        font-family: monospace;
        display: inline;
        margin-left: 3rem;
        padding: 5px;
        font-weight: 800;
        color: $accent;

        &:hover {
          background: $background;
          color: white;
          font-weight: 800;
        }
      }
    }
  }
}
