.wrapper{
  width: 100%;
  background: linear-gradient(90deg, $background, $dark, $background);
  position:relative;
}

.contact {
  display: flex;
  margin: auto;
  margin-top: 0;
  padding-bottom: 13rem;
  width: 95%;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  text-align:center;

  p{
   color: white;
  }

  a{
   color: $primary;
  }
}
