.contact {
  display: flex;
  margin: auto;
  margin-top: 0;
  margin-bottom: 18rem;
  width: 95%;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  text-align:center;
  
  p{
   color: $secondary;
  }

  a{
   color: $primary;
  }
}
