@import './layout/navbar';
@import './layout/projects';
@import '../components/animation';
@import './layout/presentation';
@import '../components/shadow';
@import './layout/contact';
@import '../components/form';

main{
    width: 85%;
    margin: auto;
}

.title{
    font-family: monospace;
    font-weight: 600;
    text-align: end;
    margin-bottom: 40px;
    font-size: 3rem;
    padding: 15px;
    text-decoration: underline;

    &>a{
        color: $dark-grey;
        cursor: pointer;
    }

    &>a:hover{
        animation: hover 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
    }
}

@keyframes hover {
    100%{
        color: #fff;
    }
}