@import "./layout/navbar";
@import "./layout/projects";
@import "../components/animation";
@import "./layout/presentation";
@import "../components/shadow";
@import "./layout/contact";

main {
  width: 85%;
  border-radius: 1rem;
  margin: 0 auto;
}

#contact {
  margin-bottom: 0;
}

.title {
  font-family: monospace;
  font-weight: 600;
  text-align: end;
  margin-bottom: 4rem;
  font-size: 2rem;
  padding: 1.5rem;
  text-decoration: underline;
  transition: color 0.3s ease;

  a {
    border-radius: 1rem;
    padding: 5px;
    color: $background;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}
