.navbar {
  height: 8rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  @include animation(x, right);

  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 3px;

      a {
        color: $secondary;
        text-decoration: none;

        code {
          font-size: 2rem;
        }

        :hover {
          text-decoration: underline;
          color: $primary;
          font-weight: 800;
          transition: all 0.1s ease;
        }
      }
    }
  }
}
