.presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    height: 60vh;

    &>&__body{
        width: 50%;
        margin: 0 40px 0 0;
        
        &>h1{
            font-family: 'Playfair Display', serif;
            font-size: $title;
            color: white;
            margin: 0;
        }
        
        &>code{
            font-family: monospace;
            display: block;
            font-size: $subtitle;
            color: $primary;
            margin: 10px 0;
        }
    }

    &>&__animation{
        width: 700px;
        height: 200px;
    }

}