$var: '.presentation';
#{$var}{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    height: 60vh;

    &>#{$var}__body{
        width: 50%;
        // margin: 0 50px;
        
        &>h1{
            font-family: 'Playfair Display', serif;
            font-size: 5.2rem;
            color: white;
            margin: 0;
        }

        &>p{
            font-family: 'Source Code Pro', monospace;
            font-size: 2rem;
            color: $primary;
            margin: 0 0 0 30px;
        }
    }

    &>#{$var}__animation{
        color: black;
        width: 700px;
        height: 200px;
    }

}