*{
    box-sizing: border-box;
    font-size: 62,5%;
}

body,
html{
    margin: 0;
    padding: 0;
    background: $background;
    color: #fff;
}

ul{
    list-style: none;
}

a{
    color: $accent;
}

svg{ 
    margin: 0;
    padding: 0;
}

::selection{
    background: $accent;
    color: rgba($color: $accent, $alpha: 0.8);
}