*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: $background;
  color: #fff;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.872rem;
}

form,
p,
code,
a,
label,
input,
button,
li {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

svg {
  margin: 0;
  padding: 0;
}

::selection {
  background: $accent;
  color: white;
}
