@import "./base/colors";
@import "./base/keyframes";
@import "./base/reset";
@import "./base/var";
@import "./layout/main-body";
@import "./layout/about";
@import "./layout/media";

@media (min-width: 36em) {
  .presentation {
    & > &__body {
      & > h1 {
        font-size: $title + 0.8rem;
      }
      & > code {
        font-size: $subtitle + 0.5rem;
      }
    }
  }
}

@media (min-width: 51.9em) {
  .presentation {
    flex-direction: column;

    & > &__body {
      flex-direction: column;
      align-items: center;
      & > code {
        font-size: $subtitle + 1.5rem;
      }
    }

    & > &__animation {
      display: block;
      width: 100%;
    }
  }

  .projects{
    grid-template-columns: repeat(auto-fill, minmax(29rem, 1fr));
    width: 75%;
  }

  .contact {
    width: 75%;
    justify-content: center;
  }

  .navbar {
    ul {
      justify-content: flex-end;

      width: 90%;
      li {
        margin-left: 5rem;
      }
    }
  }

  .title {
    font-size: $tag + 1rem;
    width: 75%;
  }
}

@media (min-width: 62em) {
  .presentation {
    & > &__body {
      margin-bottom: 7rem;
      width: 85%;
      & > h1 {
        font-size: $title + 2.2rem;
      }
    }
  }

  .about{
    width:75%;
  }

  .title {
   a{ font-size: 2.5rem;}
  }
}

@media (min-width: 75em) {
  .presentation {
    & > &__body {
      & > h1 {
        font-size: $title + 3rem;
      }

      & > code {
        font-size: $subtitle + 2rem;
      }
    }
  }

  .contact {
    width: 50%;
    justify-content: center;
  }
}
