@import './base/colors';
@import './base/reset';
@import './base/var';
@import './layout/main-body';


@media (min-width: 200px) and (max-width: 340px){
    .presentation{
        &>&__body{
            width: 100%;

            &>h1{
                font-size: $title - 1.4rem;
            }
            &>code{
                font-size: $subtitle - .6rem;
                margin: 10px 0 0 0;
                width: 100%;   
                white-space: nowrap;             
            }
            width: 85%;
            margin-top: 40px;
            margin-bottom: 50px;
        }

        &>&__animation{
            width: 500px;
            margin-bottom: 20px;

        }
    }

    .navbar,
    .contact{
        width: 100%;
        justify-content: center;


    &>ul{
        &>li{
            margin-left: 20px;
            }
        }
    }

    .projects{
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }

    .title{
        margin-top: 20px;
        font-size: $tag - 1rem;
    }

}


@media (min-width: 341px) and (max-width: 510px){
    .presentation{

        &>&__body{
            &>h1{
                font-size: $title - 2.2rem;
            }
            &>p{
                font-size: $subtitle - .5rem;
            }
            width: 85%;
            margin-top: 10px;
            margin-bottom: 50px;
        }

        &>&__animation{
            width: 500px;
            margin-bottom: 20px;
        }
    }

    .navbar,
    .contact{
        width: 95%;
        justify-content: center;
    }

    .projects{
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }

}

@media (min-width: 511px) and (max-width: 690px){
    .presentation{

        &>&__body{
            &>h1{
                font-size: $title - 1.2rem;
            }
            &>p{
                font-size: $subtitle - .5rem;
            }
            width: 85%;
            margin-top: 10px;
            margin-bottom: 50px;
        }

        &>&__animation{
            width: 500px;
            margin-bottom: 20px;
        }
    }

    .navbar,
    .contact{
        width: 95%;
        justify-content: center;
    }

    .projects{
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }

}

@media (min-width:691px) and (max-width:980px){

    .presentation{
        flex-direction: column;        
    
        &>&__body{
            &>h1{
                font-size: $title - .8rem;
            }
            &>p{
                font-size: $subtitle - .5rem;
            }
            width: 85%;
            margin-top: 140px;
            margin-bottom: 40px;
        }

        &>&__animation{
            width: 90%;
            margin-top: 10px;
            margin-bottom: 50px;
        }
    }

    .navbar,
    .contact{
        width: 95%;
        justify-content: center;
    }


    .title{
        margin-top: 80px;
        font-size: $tag - 1rem;
    }

    .projects{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

}


@media (min-width: 981px) and (max-width: 1200px){
    .presentation{


        &>&__body{
            &>h1{
                font-size: $title - 2.2rem;
            }
            &>p{
                font-size:  $subtitle - .5rem;
            }
            width: 85%;

        }

        &>&__animation{
            width: 90%;

        }
    }

    .title{
        // margin-top: 80px;
        font-size: $tag - .5rem;
    }
}

@media (min-width: 1201px) and (max-width: 4200px){
    


}





